
<h3>A list of our most recent words:</h3>

<ul>
  <% @words.each() do |word| %>
  <p class="eachWord">
    <a href="/words/<%= word.id %>"><%= word.the_word_itself() %></a>
  </p>
  <% end %>
</ul>

<p>Create a new entry:</p>

<form action="/words" method="post">
  <label for="word">Word</label><br>
  <input id="word" name="word" type="text"><br>

  <label for="definition">Definition</label><br>
  <input id="definition" name="definition" type="text"><br>

  <button type="submit">Add this entry</button>
</form>
