<h1>The Ruby Dictionary</h1>
<h3>Brought to you by Sinatra</h3>

<p>A list of our most recent words:</p>

<ul>
  <% @words.each() do |word| %>
    <li> <a href="/words/<%= word.id %>"><%= word.the_word_itself() %></a></li>
  <% end %>
</ul>

<p>Create a new entry:</p>

<form action="/words" method="post">
  <label for="word">Word</label><br>
  <input id="word" name="word" type="text"><br>

  <label for="definition">Definition</label><br>
  <input id="definition" name="definition" type="text"><br>

  <button type="submit">Add this entry</button>
</form>
