<h2><%= @word.the_word_itself() %></h2>

<% if @word.definitions().length > 0 %>
  <% @word.definitions().each() do |definition| %>
    <p>
      <%= definition.the_definition_itself() %>
    </p>
  <% end %>
<% else %>
    <p>
      No definitions, please add one!
    </p>
<% end %>
<form action="/words/<%=@word.id() %>/new" method="post">
  <label for="new_definition">New Definition</label><br>
  <input id="new_definition" name="new_definition" type="text"><br>

  <button type="submit">Submit this new definition</button>
</form>
